{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vitamin Deficiency</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      #acc{
        color: blue;
      }
      #acc:hover{
        color: brown;
      }
      body
      {
        background-image: url('https://myacare.com/uploads/AdminBlogs/29acde56be89416999d3ee9b499ff376.png'); 
        background-size: 100% 100vh; 
        background-repeat: no-repeat;
      }
      h1{
        font-family: 'Times New Roman', Times, serif;
      }
      p{
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
      }
    </style>
  </head>
  <body >

    
    <main role="main">
          <!-- <p class="lead">Vitamin Deficiency Detection is one of the most
critical health problems due to its increasing prevalence. In this
paper, we aim to test the ability of machine learning algorithms
for the prediction of Vitamin Deficiency Prediction using the smallest
subset of features</p> -->
          <!-- <p>
            <a href="https://www.mayoclinic.org/diseases-conditions/chronic-kidney-disease/symptoms-causes/syc-20354521" class="btn btn-primary my-2">Read More about the Disease</a>
          </p> -->


       <!-- Modal -->
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


      </div>
    </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="row">
          <div class="col-lg-6">
          <center>
            <img class="rounded-circle" src="https://th.bing.com/th/id/R.791bfcc7f2f9170271a900911fe7f2a9?rik=uPn0hYoLDEAdxw&riu=http%3a%2f%2fwww.burnbraefarms.com%2fmedia%2fblog%2fheader%2fHeader_-_Vitamin_D_header.jpeg&ehk=iMJ6D%2fgrbwHjff%2fH1v%2f7J%2fLkdpMouU4r4tg%2b36LVGRA%3d&risl=&pid=ImgRaw&r=0" alt="Generic placeholder image" width="200" height="220">
          </center>
            <h2>Vitamin D</h2>
            <p>Vitamin D is a fat-soluble vitamin essential for various bodily functions, primarily known for its role in maintaining bone health by aiding calcium absorption. It also plays a crucial role in immune function, cell growth, and reducing inflammation. The primary source of vitamin D is sunlight, as the skin synthesizes it when exposed to UVB rays. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <center>
              <img class="rounded-circle" src="https://img.freepik.com/premium-photo/vitamin-b12-is-written-wooden-blocks-near-multi-colored-pills-medical-concept_380694-714.jpg?w=2000" alt="Generic placeholder image" width="200" height="220">
            </center>
            <h2>Vitamin B12</h2>
            <p>Vitamin B12, also known as cobalamin, is a water-soluble vitamin essential for various bodily functions. It plays a critical role in DNA synthesis, red blood cell formation, neurological function, and metabolism. The body cannot produce vitamin B12 on its own, so it must be obtained from dietary sources such as meat, fish, eggs, dairy products, and fortified foods, or through supplements.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          
          
        </div><!-- /.row -->




        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

      
        

      </div><!-- /.container -->
      <br><br>
      <!-- <section class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Vitamin Deficiency Prediction</h1>
          <p class="lead">Vitamin Deficiency Prediction is one of the most
critical health problems due to its increasing prevalence. In this
paper, we aim to test the ability of machine learning algorithms
for the prediction of Vitamin Deficiency Predictione using the smallest
subset of features</p>
          <!-- <p>
            <a href="{{ url_for('fetalPage') }}" class="btn btn-primary my-2">Check out the Project</a>
          </p> -->
        </div>
      </section> -->

      
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

{% endblock %}